<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm p-0">
    <div class="container">
        <!-- Logo and Lab Name -->
        <a class="navbar-brand" href="index.html">
            <div class="d-flex align-items-center">
                <div class="logo-icon me-3">
                    <img src="img/iitp_logo.png" alt="IIT Patna logo" class="logo-image">
                </div>
                <div class="brand-text">
                    <div class="brand-title-hindi">Microwave Integrated System Applications Laboratory</div>
                    <div class="brand-title-english">Indian Institute of Technology Patna</div>
                </div>
            </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Menu -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>

                <!-- Academics Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="academicsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Academics
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="academicsDropdown">
                        <li><a class="dropdown-item" href="academics.html#programs">Programs</a></li>
                        <li><a class="dropdown-item" href="admissions.html">Admissions</a></li>
                        <li><a class="dropdown-item" href="courses.html">Courses</a></li>
                    </ul>
                </li>

                <!-- People Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="peopleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        People
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="peopleDropdown">
                        <li><a class="dropdown-item" href="faculty.html">Faculty Member</a></li>
                        <li><a class="dropdown-item" href="staff.html">Staff</a></li>
                        <li><a class="dropdown-item" href="students.html">Students</a></li>
                    </ul>
                </li>

                <!-- Research -->
                <li class="nav-item">
                    <a class="nav-link" href="research.html">Research</a>
                </li>

                <!-- News -->
                <li class="nav-item">
                    <a class="nav-link" href="news.html">News</a>
                </li>

                <!-- Contact -->
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
